@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;600;700&display=swap');

body{font-family: 'Heebo', sans-serif;}


.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {position: fixed;left: 0px;top: 0px;width: 100%;height: 100%;z-index: 9999;background: url("../img/loader.gif") center no-repeat #fff;}

#toTop { border-radius:0; bottom:50px; cursor: pointer; display: none; position: fixed; right: 40px; z-index: 999999;width: 50px}
#toTop img{width: 100%}


.header_logo{margin: 0 auto;width: 30%;padding: 5px 0}
.header_logo img{width: 100%}

a:focus{outline: none;}

.navmain{position: absolute;z-index: 11; width: 100%}
.navmain .is-sticky .navbar {background:#023672;}
.navbar-brand{display: none;}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {color: rgba(255,255,255,.9) !important;}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link{color: rgba(255,255,255,.7) !important;}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{color: rgba(255,255,255,.9) !important;}
.dropdown:hover>.dropdown-menu {display: block;}
.dropdown-toggle::after {display:none;}

.sub_nav{top: 180px;z-index: 10;background:#023672;}

.slidermain{position: relative;}
.slidermain .swiper-container{ width: 100%;height: 100%;margin-left: auto;margin-right: auto;}
.slidermain .swiper-container img{width: 100%}

.swiper-button-next::after, .swiper-button-prev::after{font-size: 0px !important}
.swiper-button-next i, .swiper-button-prev i{font-size: 66px;color: rgba(255,255,255,.4)}
.swiper-button-next{right: 3rem !important}
.swiper-button-prev{left: 3rem !important}
.swiper-pagination-bullet-active{background-color: var(--swiper-navigation-color,#fff) !important;opacity: .7 !important}
.slidermain .swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {bottom: 25px !important}

.Welcome {width: 100%;margin-top: 1.5rem;}
.Welcome .wel_title { text-align: center; color:  #023672;}
.Welcome .wel_title h1{font-size: 2rem;font-weight: 700}
.Welcome .wel_title h1 span{color: #ff8600}
.Welcome .fea {margin-top: 2rem;}
.Welcome .fea .fea_icon {width: 50%; margin:  0 auto; margin-top: 1rem;}
.Welcome .fea .fea_icon img{width: 100%}
.Welcome .fea .fea_text {text-align: center; color:  #023672;margin-top: .8rem}
.Welcome .fea a{text-decoration: none;}

.recent_update{background-color: #023672;margin-top: 1.5rem}
.recent_update h1{text-align: center; font-size: 2rem;color: #fff;padding-top: 1rem;font-weight: 700}
.recent_update .update_link{margin-top: 1rem}
.recent_update .update_link a {text-decoration: none; color: #fff;font-size: 1rem;padding: 0 2.5rem;}
.recent_update .update_link a:hover{color: #ff8600}
.recent_update .update_link a::after{content: "|";position: relative;left: 40px; color:#ff8600 }
.recent_update .update_link a:last-child{content: none}


.activites{width: 100%;margin-top: 2rem;margin-bottom: 5rem}
.activites h1{text-align: center;color:#023672 ; font-size: 2rem;font-weight: 700}
.activites .act{margin-top: 1.5rem}
.activites .act .act_img img{width: 100%;border-radius: 50px}
.activites .act .act_text{margin-left: 30px}
.activites .act .act_text h3{color: #ff8600;font-weight: 600}
.activites .act .act_text p{font-size: 22px;text-align: justify;}
.activites .act .swiper-container{width: 150px;height: 300px;position: absolute;left: 50%;top: 50%;margin-left: -150px;margin-top: -150px;}
.activites .act .swiper-slide {background-position: center;background-size: cover; width: 300px;height: 300px}
.activites .act .swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {bottom: -25px !important}


.dep_home{ width:100%;margin-top: 1.5rem; padding: 2rem 0; background:url(../img/dept_bg.png) center top/cover no-repeat fixed ; position:relative; overflow: hidden;}
.dep_home a{text-decoration: none;}
.dep_home h1{color:#fff;  text-align:center;font-weight: 700}
.dep_home .item{ padding:10px 15px; background-color: #fff;}
.dep_home .item .dept {width: 40%; margin: 0 auto;margin-top: 1rem}
.dep_home .item .dept img{width: 100%}
.dep_home .item .dep_name p{text-align: center;color: #023672;font-size: 21px;margin-top: 1rem}
.dep_home .owl-nav div.owl-prev { top:50%; position:absolute; margin-top:-30px; right:99% ; opacity: .5; padding:10px 10px ;width: 5%}
.dep_home .owl-nav div.owl-next { top:50%; position:absolute; margin-top:-30px; left:99%; opacity: .5;padding:10px 10px;width: 5%}
.dep_home .owl-nav div.owl-prev img{width: 100%}
.dep_home .owl-nav div.owl-next img{width: 100%}

.footer{ width:100%; float:left; padding:0px; margin:0; background-color:#d9d9d9}
.footer .footer_contact{padding:30px 30px 0 30px;}
.footer .footer_contact .foot_icon{color:#023672; line-height:26px; font-size:16px; margin:0px 0px 20px 0; position:relative; padding-left:70px; }
.footer .footer_contact .foot_icon span{line-height:30px; font-size:20px; font-weight:700;}
.footer .footer_contact .foot_icon img {position: absolute;left: 0;top: 10%}
.footer .footer_logo {margin-top: 36px}
.footer .footer_logo img{width: 100%}
.footer .footer_social {margin-top: 25px;text-align: center;}
.footer .footer_social h4{color: #023672; font-weight: 700;font-size: 20px;text-align: center;}
.footer .footer_social ul{list-style: none;text-align: center;padding: 0}
.footer .footer_social ul li{list-style: none;display: inline-block;padding: 0 10px;}
.footer .footer_social ul li a{text-decoration: none;}
.footer .footer_social ul li a i{font-size: 25px;color: #023672; border: solid 4px #023672;border-radius: 50%;width: 50px;height: 50px;line-height: 43px}
.footer .footer_social ul li a .fb{background: url(../img/FB2.png) center left/cover no-repeat;height: 50px;width: 50px;}
.footer .footer_social ul li a .fb:hover{background: url(../img/FB2.png) center right/cover no-repeat}
.footer .footer_social ul li a .insta{background: url(../img/insta2.png) center left/cover no-repeat;height: 50px;width: 50px;}
.footer .footer_social ul li a .insta:hover{background: url(../img/insta2.png) center right/cover no-repeat}
.footer .use_link{margin-top: 35px;}
.footer .use_link h4{color: #023672; font-weight: 700;text-align: center;;font-size: 20px}
.footer .use_link ul{list-style: none;text-align:center;padding: 0}
.footer .use_link ul li{list-style: none;padding: 0}
.footer .use_link ul li a{text-decoration: none; color: #023672 ;font-size: 16px;font-weight: 600;}
.footer .use_link ul li a:hover{color: #ff8600}
.copyright{background-color:#023672; padding: 15px}
.copyright p{font-weight:400; color:#fff; line-height:0px; font-size:14px; margin:0px; text-align: center;}

.second_page .bg{ background:url(../img/dept_bg2.png)  center/cover no-repeat fixed ; }
.second_page .bg .title{text-align: center;color: #fff;font-size: 3rem;padding: 1.5rem;width: 56%;font-weight: 700;padding-top: 4rem;margin: 0 auto}
.second_page .bg .title .dept_icon{width: 9%;float: left;}
.second_page .bg .title .dept_icon img{width: 100%}
.second_page .bg .title .dept_name{float: left}

.about {margin-bottom: 1.5rem}
.about .act_img{margin-top: 1.5rem}
.about .act_img .about_img{ width: 100%; }
.about .act_img .about_img img{ width: 100%}
.about .about_title{color: #023672;font-size: 36px; text-align: center;margin-top: 1.5rem;font-weight: 700}
.about .about_title h1{font-weight: 600}
.about .about_text{text-align: justify;; margin-top: 1.5rem}
.about .about_text ol{margin: 0;padding: 10px}
.about .about_text ul{margin: 0;padding: 10px}
.about .about_text span{font-size: 12px;}
.about .about_text span code {font-size: 16px}
.about .about_text .pla_text{margin: 1rem 0}
.about .about_text .pla_text p{font-size: 20px}
.about .about_text .place_img{width: 70%}
.about .about_text .place_img img{width: 100%}

.about .vis_mis .title{color: #023672;text-align: center;line-height: 50px;font-size:36px;font-weight: 600; }
.about .vis_mis .title img{width: 50px;}



.about .dept_tab ul li a:focus{outline: none;}
.about .dept_tab a{text-decoration: none;color: #023672;font-size: 15px}
.about .dept_tab .tab-content p{margin-top: 1.5rem;text-align: justify;}
.about .dept_tab .tab-content ul{margin:1.5rem 0 0 0; padding: 0 10PX}
.about .dept_tab .tab-content ol{margin: 0;padding: 0 10px;text-align: justify;}
.about .dept_tab .tab-content .vis_mis_bg{background:url(../img/solidbg.jpg) center top/cover no-repeat fixed ; position:relative; overflow: hidden; color: #fff}
.about .dept_tab .tab-content .vis_mis .vis_mis_title{margin: 0 auto;}
.about .dept_tab .tab-content .vis_mis .vis_mis_icon{width: 9%; float: left;margin-left: 33%}
.about .dept_tab .tab-content .vis_mis .vis_mis_icon img{width: 100%}
.about .dept_tab .tab-content .vis_mis .vis_mis_text{margin-left: 15rem;color: #023672;font-weight: 600;font-size: 36px}
.about .dept_tab .tab-content .vis_mis p{margin-top: 1rem;text-align: justify;}
.about .dept_tab .tab-content .vis_mis h1{color: #023672;font-weight: 600}
.about .dept_tab .tab-content .vis_mis ul{margin-top: 1.5rem;text-align: justify;margin: 0;padding: 15px 10px}
.about .dept_tab .tab-content  h4{color: #023672;font-weight: 600;text-align: center;margin-top: 0.5rem;font-size: 1.4rem}
.about .dept_tab .tab-content h3{color: #023672;font-weight: 600;text-align: center;margin-top: 1.5rem;font-size: 1.4rem}
.about .dept_tab .tab-content span{color: #ff8600;}
.about .dept_tab .tab-content table{margin: 1.5rem 0}
.about .about_con h4{color: #ff8600;font-size: 22px;font-weight: 600}

.msg_hod{margin-top: 2rem}
.msg_hod h4{color: #023672;font-weight: 600;text-align: center;margin-top: 1.5rem;font-size: 1.4rem}
.msg_hod .msg_hod_con {margin-top: 1.5rem}
.msg_hod .hod_img {width: 80%; margin: 0 auto;}
.msg_hod .hod_img img{width: 100%;border-radius: 40px}
.msg_hod .hod_img p{text-align: center;padding-top: 1rem;}
#name{text-align: center;}
.msg_hod .hod_img p span{color: #023672;font-size: 1rem;font-weight: 600}
.msg_hod .hod_msg {margin-left: 1.5rem;}
.msg_hod .msg_hod_con p{text-align: justify;}

.Faculty {background:url(../img/dept_bg.png) center top/cover no-repeat fixed ; position:relative; overflow: hidden;padding: 1.5rem 0;margin-top: 1.5rem}
.Faculty  h1{text-align: center; color: #fff;padding: 1rem;font-weight: 700}
.Faculty  a{text-decoration: none;text-align: center;}
.Faculty .item{ padding:10px 15px; background-color: #fff;}
.Faculty .item .fec {width: 40%; margin: 0 auto;margin-top: 1rem}
.Faculty .item .fec img{width: 100%;border: .5rem solid #023672;border-radius: 50%}
.Faculty .item:hover .fec img{box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 8px 20px 0 rgba(0, 0, 0, 0.3);}
.Faculty .item .fec_name p{text-align: center;color: #023672;font-size: 21px;margin-top: 1rem}
.Faculty .item .fec_name p span{font-weight: 400;font-size: 16px}
.Faculty .item .fec_detail ul{list-style: none;text-align:  center;margin: 0;padding: 0}
.Faculty .item .fec_detail ul li{list-style: none;color: #023672;font-size: 16px;}
.Faculty .item .fec_media ul{text-align: center;;list-style: none;margin: 0;padding: 0}
.Faculty .item .fec_media {}
.Faculty .item .fec_media ul li{list-style: none;display: inline-block;;padding: 1rem}
.Faculty .item .fec_media ul li a .media_icon_fb{background: url(../img/FB2.png) center left/cover no-repeat;height: 50px;width: 50px;}
.Faculty .item .fec_media ul li a .media_icon_fb:hover{background: url(../img/FB2.png) center right/cover no-repeat}
.Faculty .item .fec_media ul li a .media_icon_insta{background: url(../img/insta2.png) center left/cover no-repeat;height: 50px;width: 50px;}
.Faculty .item .fec_media ul li a .media_icon_insta:hover{background: url(../img/insta2.png) center right/cover no-repeat}
.Faculty .item .fec_media ul li a .media_icon_mail{background: url(../img/mail2.png) center left/cover no-repeat;height: 50px;width: 50px;}
.Faculty .item .fec_media ul li a .media_icon_mail:hover{background: url(../img/mail2.png) center right/cover no-repeat}
.Faculty .owl-nav div.owl-prev { top:50%; position:absolute; margin-top:-37px; right:99%; opacity: .5; padding:10px 10px ;width: 5%}
.Faculty .owl-nav div.owl-next { top:50%; position:absolute; margin-top:-37px; left:99%; opacity: .5;padding:10px 10px;width: 5%}
.Faculty .owl-nav div.owl-prev img{width: 100%}
.Faculty .owl-nav div.owl-next img{width: 100%}

.adm_other{text-align: center;margin: 1.5rem 0}
.adm_other ul{text-align: center; list-style: none;margin: 0;padding: 0}
.adm_other ul li{list-style: none;}
.adm_other h3{color: #023672;font-weight: 600; font-size: 1.5rem}
.adm_other p a{text-decoration: none; color: #ff8600}
.adm_other p a:hover {color: #023672}

.adm_inq{margin-top: 1.5rem }
.adm_inq .form_title {padding-top:2rem }
.adm_inq .form_title h1{color: #023672;font-weight: 600;text-align: center;font-size: 26px}
.form_body{border-radius: 50px;box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1), 0 8px 20px 0 rgba(0, 0, 0, 0.1); margin: 2rem 0}
.form_body input{width: 80%;margin-left: 10%}
.form_body sup{color: #ff8600;}



/* .has-float-label .form-control:placeholder-shown:not(:focus)::-webkit-input-placeholder {opacity: 0;}
.has-float-label .form-control:placeholder-shown:not(:focus)::-moz-placeholder {opacity: 0;}
.has-float-label .form-control:placeholder-shown:not(:focus):-ms-input-placeholder {opacity: 0;}
.has-float-label .form-control:placeholder-shown:not(:focus)::placeholder {opacity: 0;}
.has-float-label .form-control:placeholder-shown:not(:focus) + * {font-size: 150%;opacity: .5;top: .25em;}


.fix_field select{width: auto;;margin-left: 1%; font-size:1rem;border: 0;border-bottom: 1px solid #023672;font-family: inherit;-webkit-appearance: none;cursor: text}
.form-control {width: 80%; margin-left: 10%;border: 1px solid #023672;}
.fix_field input {transition: all 0.2s;touch-action: manipulation;width: auto;}
form {padding: 2rem 0;}
.field {display: flex;flex-flow: column-reverse;margin-bottom: 1em;}
.field label, .field input {transition: all 0.2s;touch-action: manipulation;width: 80%;margin-left: 10%}
.field input {font-size: 1.5em;border: 0;border-bottom: 1px solid #023672;font-family: inherit;-webkit-appearance: none;border-radius: 0;padding: 0;cursor: text;background-color: transparent}
.field input:focus {outline: 0;border-bottom: 1px solid #666;}
.field label {text-transform: uppercase;letter-spacing: 0.05em;}
.field input:placeholder-shown + label {cursor: text;max-width: 66.66%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;transform-origin: left bottom;transform: translate(0, 2.8rem) scale(1.4);}
.field input:focus::-webkit-input-placeholder {opacity: 1;}
.field input:not(:placeholder-shown) + label {transform: translate(-90px, 15px) scale(.8);cursor: pointer;color:#023672;}
.field input:not(:placeholder-shown) + label sup{color: #fff}
.field input:placeholder-shown:not(:focus)::-webkit-input-placeholder {opacity: 0;}
.field input:placeholder-shown:not(:focus)::-moz-placeholder {opacity: 0;}
.field input:placeholder-shown:not(:focus):-ms-input-placeholder {opacity: 0;}
.field input:focus + label {transform:translate(0, 10px) scale(1);;cursor: pointer;color:#023672;}
.field input:focus + label sup{color: #fff}
.field textarea:focus{box-shadow: none;border: 1px solid #000}
.field textarea:focus + label {color: red}
.field textarea:focus + label sup{display: none;}
.field textarea:not(:placeholder-shown) + label sup{display: none;}
*/


.fix_field select{width: auto;;margin-left: 1%; font-size:1rem;border: 0;border-bottom: 1px solid #023672;font-family: inherit;-webkit-appearance: none;cursor: text}
.fix_field input {transition: all 0.2s;touch-action: manipulation;width: auto;}
.form_input {margin-top: 2%}
.form-group {position: relative; margin-bottom: 25px;}
.form-group .form-control{border:none; background:transparent; box-shadow:none; border-bottom:#dbdbdb 2px solid; border-radius:0px; padding-left:0px; color:#000}
.form-group .form-control:focus{border-bottom:#023672 1px solid;}
.form-control-placeholder {position: absolute; top: 0;left: 10%;padding: 7px 0 0 0px; transition: all 200ms; color:#000}
.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {font-size: 85%; transform: translate3d(0, -70%, 0); opacity: 1; color:#023672; font-weight:600}
.form-control:focus + .form-control-placeholder sup,
.form-control:valid + .form-control-placeholder sup {color: #fff}


.btn{margin-bottom: 2.5%;display: inline !important}
.btn ul{padding: 0;text-align: center;}
.btn ul li{padding: 0;display: inline-block;list-style: none;}
.btn .mybtn{color: #fff;padding: .5rem 1rem;background-color: #023672;border: 1.5px solid #023672;font-weight: 600;transition: background .7s;margin: 0 10px}
.btn .mybtn:hover{border: 1.5px solid #023672; color: #023672;background-color: transparent}

.placeimg{margin: 0 auto;}

.event_pg{margin: 1.5rem 0}
.event_pg h1{color: #023672;text-align: center;font-weight: 600}
.event_pg h3{color: #ff8600;text-align: center;font-size: 26px}
.event_pg p{margin: 2rem 0;text-align: justify;}
.event_pg .event_text .slde{}
.event_pg .event_text .slde p{font-size: 26px;color: #023672;font-weight: 600;}
.event_pg .event_text img{width: 100%;margin: 0 auto;}
.event_pg .event_text .activitie_text p{margin-top: 0}
.event_pg .owl-carousel {margin-top: 1.5rem}
.event_pg .owl-nav div.owl-prev { top:50%; position:absolute; margin-top:-37px; right:99%; opacity: .5; padding:10px 10px ;width: 5%}
.event_pg .owl-nav div.owl-next { top:50%; position:absolute; margin-top:-37px; left:99%; opacity: .5;padding:10px 10px;width: 5%}
.event_pg .owl-nav div.owl-prev img{width: 100%;background-color: #023672; padding: 2px 0;border-radius: 5px}
.event_pg .owl-nav div.owl-next img{width: 100%;background-color: #023672; padding: 2px 0;border-radius: 5px}


.con_us {margin-top: 1.5rem}
.con_us form{margin-top: 2.5rem}
.con_us .form_body h1{color: #023672;margin-top: 1.5rem;font-weight: 600;text-align: center;font-size: 36px;padding-top: 1.5rem}
.con_us .form_body{border-radius: 50px;box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1), 0 8px 20px 0 rgba(0, 0, 0, 0.1); margin: 2.5rem 0}
.con_us .form_body input{width: 80%;margin-left: 10%}
.con_us .form_body sup{color: #ff8600;}
.con_us .form-group {position: relative; margin-bottom: 25px;}
.con_us .con_us.form-group .form-control{border:none; background:transparent; box-shadow:none; border-bottom:#dbdbdb 2px solid; border-radius:0px; padding-left:0px; color:#000}
.con_us .form-group .form-control:focus{border-bottom:#023672 1px solid;}
.con_us .form-control-placeholder {position: absolute; top: 0;left: 10%;padding: 7px 0 0 0px; transition: all 200ms; color:#000}
.con_us .form-control:focus + .form-control-placeholder,
.con_us s.form-control:valid + .form-control-placeholder {font-size: 85%; transform: translate3d(0, -70%, 0); opacity: 1; color:#023672; font-weight:600}



.con_us .btn{margin-bottom: 2.5%;display: inline !important}
.con_us .btn ul{padding: 0;text-align: center;}
.con_us .btn ul li{padding: 0;display: inline-block;list-style: none;}
.con_us .btn .mybtn{color: #fff;padding: .5rem 1rem;background-color: #023672;border: 1.5px solid #023672;font-weight: 600;transition: background .7s;margin: 0 10px}
.con_us .btn .mybtn:hover{border: 1.5px solid #023672; color: #023672;background-color: transparent}

.con_us .footer_contact{margin-top:2.5rem;margin-left: 25px}
.con_us .footer_contact .foot_icon{color:#023672; line-height:26px; font-size:16px; margin:0px 0px 20px 0; position:relative; padding-left:70px; }
.con_us .footer_contact .foot_icon span{line-height:30px; font-size:20px; font-weight:700;}
.con_us .footer_contact .foot_icon img {position: absolute;left: 0;top: 10%}

.con_us .footer_social {margin-top: 2.5rem;}
.con_us .footer_social h4{color: #023672; font-weight: 700;font-size: 20px;text-align: center;}
.con_us .footer_social ul{list-style: none;text-align: center;padding: 0}
.con_us .footer_social ul li{list-style: none;display: inline-block;padding: 0 10px;margin-bottom: 15px}
.con_us .footer_social ul li a{text-decoration: none;}
.con_us .footer_social ul li a i{font-size: 25px;color: #023672; border: solid 4px #023672;border-radius: 50%;width: 50px;height: 50px;line-height: 43px}
.con_us .footer_social ul li a .fb{background: url(../img/FB2.png) center left/cover no-repeat;height: 50px;width: 50px;}
.con_us .footer_social ul li a .fb:hover{background: url(../img/FB2.png) center right/cover no-repeat}
.con_us .footer_social ul li a .insta{background: url(../img/insta2.png) center left/cover no-repeat;height: 50px;width: 50px;}
.con_us .footer_social ul li a .insta:hover{background: url(../img/insta2.png) center right/cover no-repeat}

.con_us .con_map {margin-top:2.5rem;}
.con_us .con_map iframe{width: 90%;height: 420px}

.gold_main{height: 400px;overflow: hidden;}
.gold_full{height: 100%;overflow: visible;}
.gold_btn {margin: 0 auto;}
.gold_btn ul{text-align: center;}
.gold_btn ul li{list-style: none;display: inline-block;padding: 0}
.gold_btn .mybtn{color: #fff;padding: .5rem 1rem;background-color: #023672;border: 1.5px solid #023672;font-weight: 600;transition: background .7s;margin: 0 10px}
.gold_btn .mybtn:hover{border: 1.5px solid #023672; color: #023672;background-color: transparent}

.library_bg{background:url(../img/slide_1-2.jpg) center top/cover no-repeat fixed ; position:relative; overflow: hidden;}
.side_img{width: 100%}
.side_img img{width: 100%}

.dlist h3{text-align: center;color: #023672; margin: 1rem 0}
.dlist dt{color: #023672}
.dlist dd {margin-left: 2%}
.dlist dd::before{content: "- ";}
.dlist dd a{text-decoration: none;color: #ff8600}
.dlist dd a:hover{color: #023672}
